*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .board {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h1{
    text-align: center;
    font-size: 3em;
    color: #ff0000;
    background:-moz-radial-gradient(red, white);
  }
  .board .row {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .board .row .tile {
    top: 0;
    bottom: 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    font-family: impact;
    color: #ddd;
    background: linear-gradient(to top left, #880000, #ff0000);
    border: 3px solid #000;
  }
  .board .row .question-value {
    display: block;
  }
  .board .row .question-answer {
    display: none;
  }
  .board .row .tile.active {
    border-width: 0;
    font-size: 10vw;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
  }
  .board .row .tile.active .question-value {
    display: none;
  }
  .board .row .tile.active .question-answer {
    display: block;
  }

  .scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    align-self: center;
  }

  .scoreboardName,
  .scoreboardScore{
    padding: 10px;
    text-align: center;
  }

  .scoreboardName{
    font-weight: bold;
    border-bottom: 1px solid #000 ;
  }

  .scoreboardControls {
    display: flex;
    align-self: center;
  }

  .scoreboardControls-Button {
    flex-grow: 1;
    border: none;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
  }

  